#left .object {
  width: 200px;
}

.ol-attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px;
  color: #000000;
  color: #eeeeee;
  text-align: right;
  background: rgba(0, 60, 136, 0.3);
}

.ol-attribution a {
  color: #7b98bc;
  color: #ffffff;
  text-decoration: none;
}

.ol-attribution ul {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}

.ol-attribution li {
  display: inline;
  line-height: inherit;
  list-style: none;
}

.ol-attribution li:not(:last-child):after {
  content: "\2003";
}

.ol-attribution-bing-tos {
  float: right;
  padding-top: 2px;
  white-space: nowrap;
}

.ol-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
}

.ol-logo ul {
  padding: 0;
  margin: 0;
}

.ol-logo ul li {
  display: inline;
  list-style: none;
}

.ol-mouse-position {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ol-scale-line {
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  background: #95b9e6;
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
}

.ol-scale-line-inner {
  padding: 0 2px;
  margin: 1px;
  font-size: 10px;
  color: #eeeeee;
  text-align: center;
  border: 1px solid #eeeeee;
  border-top: none;
}

.ol-unsupported {
  display: none;
}

.ol-viewport .ol-unselectable {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ol-zoom,
.ol-zoom-extent,
.ol-full-screen {
  position: absolute;
  padding: 2px;
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.ol-zoom:hover,
.ol-zoom-extent:hover,
.ol-full-screen:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.ol-zoom {
  top: .5em;
  left: .5em;
}

.ol-zoom-extent {
  top: 4.643em;
  left: .5em;
}

.ol-full-screen {
  top: .5em;
  right: .5em;
}

@media print {
  .ol-zoom,
  .ol-zoom-extent,
  .ol-full-screen {
    display: none;
  }
}

.ol-zoom button,
.ol-zoom-extent button,
.ol-full-screen button {
  display: block;
  width: 1.375em;
  height: 1.375em;
  padding: 0;
  margin: 1px;
  font-size: 1.14em;
  font-weight: bold;
  line-height: .4em;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #7b98bc;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
}

.ol-zoom button::-moz-focus-inner,
.ol-zoom-extent button::-moz-focus-inner,
.ol-full-screen button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.ol-zoom-extent button {
  line-height: 1.4em;
}

.ol-touch .ol-zoom button,
.ol-touch .ol-full-screen button,
.ol-touch .ol-zoom-extent button {
  font-size: 1.5em;
}

.ol-touch .ol-zoom-extent {
  top: 5.5em;
}

.ol-zoom button:hover,
.ol-zoom button:focus,
.ol-zoom-extent button:hover,
.ol-zoom-extent button:focus,
.ol-full-screen button:hover,
.ol-full-screen button:focus {
  text-decoration: none;
  background-color: #4c6079;
  background-color: rgba(0, 60, 136, 0.7);
}

.ol-zoom-extent button:after {
  content: "E";
}

.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

button.ol-full-screen-false:after {
  content: "\2194";
}

button.ol-full-screen-true:after {
  content: "\00d7";
}

/* invisible but not hidden */

.ol-has-tooltip [role=tooltip] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 0 2px #fff;
  border: 0;
}

/* show a tooltip offset to below and right */

.ol-has-tooltip:hover [role=tooltip],
.ol-has-tooltip:focus [role=tooltip] {
  bottom: .3em;
  left: 2.2em;
  z-index: 1100;
  display: inline-block;
  width: auto;
  height: 1.2em;
  max-height: 100px;
  padding: 0 .4em;
  clip: auto;
  font-size: .8em;
  line-height: 1.2em;
  color: #000;
  white-space: nowrap;
  background: #FFF;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(255, 255, 255, 0);
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.ol-touch .ol-has-tooltip:hover [role=tooltip],
.ol-touch .ol-has-tooltip:focus [role=tooltip] {
  display: none;
}

.ol-zoom .ol-has-tooltip:hover [role=tooltip],
.ol-zoom .ol-has-tooltip:focus [role=tooltip] {
  top: 1.1em;
}

.ol-full-screen .ol-has-tooltip:hover [role=tooltip],
.ol-full-screen .ol-has-tooltip:focus [role=tooltip] {
  right: 2.2em;
  left: auto;
  border-radius: 4px 0 0 4px;
}

.ol-zoomslider {
  position: absolute;
  top: 4.5em;
  left: .5em;
  width: 1.5675em;
  height: 200px;
  padding: 3px;
  margin: 0;
  overflow: hidden;
  background: #eee;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  outline: none;
}

.ol-zoomslider-thumb {
  position: absolute;
  display: block;
  width: 1.375em;
  height: 1em;
  padding: 0;
  margin: 3px;
  overflow: hidden;
  font-size: 1.14em;
  cursor: pointer;
  background: #7b98bc;
  background: rgba(0, 60, 136, 0.5);
  border-radius: 2px;
  outline: none;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
  width: 2.052em;
}

.ol-touch .ol-zoomslider-thumb {
  width: 1.8em;
}

.ol-zoom-extent button,
.ol-attribution,
.ol-full-screen button,
.ol-scale-line-inner,
.ol-zoom button,
.ol-has-tooltip [role=tooltip] {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}